@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Nunito, sans-serif;
    font-weight: 300;
    color: darkslategray
    background-color: #f8f8f8;
}

/* headings and logo */

h1,
h2 {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    color: rgba(224, 32, 70, 255);
    /* color: rgb(243, 132, 4); */
    /* color:rgb(27, 75, 27); */
}

h3 {
    color: white;
}

#logo {
    float: left;
    font-size: 600%;
    color: rgb(27, 75, 27);
}

/* navigation links - same as running */

#nav-bar {
    font-size: 400%;
    font-weight: bolder;
}

#nav-bar li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

#nav-bar,
#logo {
    line-height: 180px;
}

#nav-bar a {
    text-decoration: none;
    color: rgb(27, 75, 27);
}

#nav-bar a:hover {
    border-bottom: 5px solid rgba(224, 32, 70, 255);
}

.active {
    border-bottom: 5px solid rgba(224, 32, 70, 255);
}

/* hero image and cover text - same as running and then added link to sign up*/

#hero-image {
    height: 3500px;
    width: 100%;
    position: absolute;
    /* margin-left: 300px; */
    background: url('../images/two-boys-rugby.jpg') no-repeat center center;
}

#cover-text,
#cover-text h2 {
    color: white;
    text-align: center;
}

#cover-text {
    font-size: 200%;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    /* text-align: justify; */
    height: 110px;
    padding: 20px 20px 30px;
    background-color: rgba(224, 32, 70, 255);
    /* background-color: rgb(177, 23, 49); */
    /* background-color: rgb(243, 132, .7); */
    top: 4000px;
    left: 3400px;
    position: absolute;
    opacity: 80%;
    transform: scale(200%);
}

#cover-link {
    color: rgb(27, 75, 27);
    font-weight: bolder;
    text-decoration: none;
}

#hero-outer {
    height: 4000px;
    width: 100%;
    overflow: hidden;
}

/* About Us text */

#welcome {
    height: 800px;
}

#about-us {
    text-align: center;
    font-size: 900%;
    height: 200px;
    font-weight: bold;
    top: 250px;
    left: 900px;
    position: absolute;
    font: bold;
    color: whitesmoke;
    /* color: rgba(224,32,70,255); */
    /* color:white */
    background-color: rgba(224, 32, 70, 255);
    text-align: justify;
    padding: 0 50px;
    position: absolute;
    opacity: 80%;
}

#about-us-text1 {
    top: 1750px;
    left: 450px;
    font-size: 600%;
    width: 27%;
    position: absolute;
    /* color: rgb(27, 75, 27); */
    /* color: rgba(224,32,70,255); */
    color: whitesmoke;
    font: bold;
}

#about-us-text2 {
    top: 1700px;
    left: 3600px;
    font-size: 600%;
    width: 27%;
    position: absolute;
    color: rgb(27, 75, 27);
    /* color: rgba(224,32,70,255); */
    /* color: whitesmoke; */
    font: bold;
}
