@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Nunito, sans-serif;
    font-weight: 300;
    color: darkslategray
    background-color: #f8f8f8;
}

/* headings and logo */

/* work out how to put band green at top image is not making this work */
.header-main {
    background-color: rgb(27, 75, 27);
    width: 100%;
    color:whitesmoke;
}

h1,
h2 {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    color: rgba(224, 32, 70, 255);
    /* color: rgb(243, 132, 4); */
    /* color:rgb(27, 75, 27); */
}

h3 {
    color: white;
}

#logo {
    float: left;
    font-size: 600%;
    color: rgb(27, 75, 27);
}

/* navigation links - same as running */

#nav-bar {
    font-size: 400%;
    font-weight: bolder;
}

#nav-bar li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

#nav-bar,
#logo {
    line-height: 180px;
}

#nav-bar a {
    text-decoration: none;
    color: rgb(27, 75, 27);
}

#nav-bar a:hover {
    border-bottom: 5px solid rgba(224, 32, 70, 255);
}

.active {
    border-bottom: 5px solid rgba(224, 32, 70, 255);
}

/* hero image and cover text - same as running and then added link to sign up*/

#hero-image {
    height: 3500px;
    width: 100%;
    position: absolute;
    /* margin-left: 300px; */
    background: url('../images/two-boys-rugby.jpg') no-repeat center center;
}

#cover-text,
#cover-text h2 {
    color: white;
    text-align: center;
}

#cover-text {
    font-size: 200%;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    /* text-align: justify; */
    height: 110px;
    padding: 20px 20px 30px;
    background-color: rgba(224, 32, 70, 255);
    /* background-color: rgb(177, 23, 49); */
    /* background-color: rgb(243, 132, .7); */
    top: 4000px;
    left: 3400px;
    position: absolute;
    opacity: 80%;
    transform: scale(200%);
}

#cover-link {
    color: rgb(27, 75, 27);
    font-weight: bolder;
    text-decoration: none;
}

#hero-outer {
    height: 4000px;
    width: 100%;
    overflow: hidden;
}

/* About Us text */

#welcome {
    height: 800px;
}

#about-us {
    text-align: center;
    font-size: 900%;
    height: 200px;
    font-weight: bold;
    top: 250px;
    left: 900px;
    position: absolute;
    font: bold;
    color: whitesmoke;
    /* color: rgba(224,32,70,255); */
    /* color:white */
    background-color: rgba(224, 32, 70, 255);
    text-align: justify;
    padding: 0 50px;
    position: absolute;
    opacity: 80%;
}

#about-us-text1 {
    top: 1750px;
    left: 450px;
    font-size: 600%;
    width: 27%;
    position: absolute;
    /* color: rgb(27, 75, 27); */
    /* color: rgba(224,32,70,255); */
    color: whitesmoke;
    font: bold;
}

#about-us-text2 {
    top: 1700px;
    left: 3600px;
    font-size: 600%;
    width: 27%;
    position: absolute;
    color: rgb(27, 75, 27);
    /* color: rgba(224,32,70,255); */
    /* color: whitesmoke; */
    font: bold;
}

/* Table of Dates and Times - from code institute*/

#groups {
    height: 1600%;
    width: 40%;
}

.groups-style {
    margin: 0 auto 0 auto;
    font-size: 500%;
    top: 3800px;
    left: 1050px;
    position: absolute;
    background-color: rgb(27, 75, 27);
    color: whitesmoke;
    /* background-color: rgba(224,32,70,255); */
}

table {
    padding-left: 50px;
    width: 99%;
    height: 100%;
}

tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

tr,
th,
td {
    text-align: center;
}

th {
    font: bolder;
}

th,
td {
    border: 1px solid rgba(224, 32, 70, 255);
    padding: 5px;
}

/* List of Training in Sessions */

#session-list {
    height: 500px;
    font-size: 200%;
}

#What-we-offer {
    margin-left: 10%;
    padding-top: 80px;
    width: 40%;
    float: left;
    text-align: center;
}

.list-offer ul,
.list-unders ol {
    text-align: left;
    text-indent: 40px;
    position: relative;
    float: left;
    display: block;
    left: 40%;
    height: 100%;
    padding-bottom: 100px;
}

.list-offer ul li,
.list-unders ol li {
    position: relative;
    float: left;
    display: block;
    width: 99%;
    height: 100%;
    font-size: 50px;
    margin-bottom: 5px;
}

/* About Us */

#Who-are-we {
    height: 800px;
    padding-top: 50px;
    width: 90%;
    float: left;
    margin-left: 100px;
    font-size: 280%;
}

#What-do-we-do {
    height: 800px;
    padding-top: 75px;
    width: 90%;
    float: left;
    margin-left: 100px;
    font-size: 280%;
}

#Coaching {
    height: 800px;
    padding-top: 125px;
    width: 90%;
    float: left;
    margin-left: 100px;
    font-size: 280%;
}

/* Footer and Social Media - Socials from Love Running FontAwesome Code to run them */

footer>p {
    height: 200px;
    bottom: 5px;
    /* margin-bottom: 5px; */
}

.footer-main {
    background-color: rgb(27, 75, 27);
    width: 100%;
    color:whitesmoke;
    list-style: none;
}

.footer-contacts {
    font-size: 170%;
    color:rgba(224, 32, 70, 255);
    font-family: Montserrat, sans-serif;
    float: center;
    top: 388%;
    /* top: 10500px; */
    left: 2400px;
    position: absolute;
    transform: scale(200%);
    font-weight: bolder;
    display: flex;
    flex-direction:row;
    flex: content;
    word-spacing: 25%;
    font-stretch: extra-expanded;
}

#menu ul li a {
	z-index: 5;
	position: relative;
    float:left;
	display: inline;
	height: 31px;
	overflow: hidden;
	text-decoration: none;
  color:#336699;
  font-size: 20px;
  margin: 0;
  padding:0
}





.footer-copyright {
    font-size: 160%;
    color:rgba(224, 32, 70, 255);
    font-family: Montserrat, sans-serif;
    float: center;
    top: 391%;
    /* top: 10600px; */
    left: 2400px;
    position: absolute;
    transform: scale(200%);
    font-weight: bolder;
    /* text-decoration: none; */
}



.social-networks a {
    text-decoration: none;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 100px;
    margin: 1%;
    padding: 5%;
    color: rgba(224, 32, 70, 255);
    /* color: rgb(223, 21, 21); */
    /* color: rgb(243, 132, 4); */
}

